<main>
  <div id="go-back">
    <a href="/">
      <img src="/assets/arrow-back-icon.png" alt="arrow back icon" class="icon">
    </a>
  </div>

  <div id="logo">
    <img src="/assets/hipocampo-logo.png" alt="hipocampo logo" class="logo">
    <div class="purpose">Te ajudaremos a se lembrar do que é mais importante</div>
  </div>

  <form action="/login" method="post">
    <div class="field">
      <label for="email">EMAIL: </label>
      <input type="email" name="email" id="email" class="input" required>
    </div>
    <div class="field">
      <label for="password">SENHA: </label>
      <input type="password" name="password" id="password" class="input" required>
    </div>

    {{#if errorMessage}}
      <div class="error-banner">
        {{errorMessage}}
      </div>
    {{/if}} 

    <input type="submit" value="ENTRAR" class="button">
  </form>

  <div class="access-option">
    <div>Primeira vez por aqui?</div>
    <a href="/register">Criar conta</a>
  </div>
</main>