<link rel="stylesheet" type="text/css" href="/css/login.css" />

<div class="main-login">
  <div class="left-login">
    <h1>faça seu cadrastro <br> e entre para o nosso site &#x1f917;</h1>
    <img src="/assets/anima.svg" class="left-login-img" alt="as">
  </div>
  <div class="right-login">
    <div class="card-login">
      <h1>LOGIN</h1>
      <div class="textfield">
        <label for="usuario">usuario</label>
        <input type="text" name="usuario" placeholder="usuario">

      </div>
      <div class="textfield">
        <label for="senha">senha</label>
        <input type="password" name="senha" placeholder="senha ">
      </div>
      <button class="btn-login">login</button>
    </div>
  </div>
</div>