<main>
  <h1>HIPOCAMPO</h1>

  <div id="box">
    <section id="purposes">
      <div class="item">
        <div class="title">Nunca mais esqueça de compromissos importantes</div>
        <div class="description">Salve lembretes para ajudar na sua rotina.</div>
      </div>
      <div class="item right">
        <div class="title">Você vai ser notificado da maneira mais apropriada</div>
        <div class="description">Escolha uma ou mais maneiras de ser notificado.</div>
      </div>
      <div class="item">
        <div class="title">Simples e Eficiente</div>
        <div class="description">Cadastre seus lembretes sem dificuldades e nos deixe te lembrar do que mais importa.</div>
      </div>
    </section>

    <section id="access">
      <a href="/login" class="button">ENTRAR</a>
      <a href="/register" class="button">CRIAR CONTA</a>

      <img src="/assets/hipocampo-logo.png" alt="hipocampo logo" class="logo">
    </section>
  </div>
</main>

