<main>
  <div id="go-back">
    <a href="/">
      <img src="/assets/arrow-back-icon.png" alt="arrow back icon" class="arrow-back-icon">
    </a>
  </div>

  <div id="logo">
    <img src="/assets/hipocampo-logo.png" alt="hipocampo logo" class="logo">
    <div class="purpose">Crie sua conta e não perca mais os seus compromissos.</div>
  </div>

  <form action="/register" method="post">
    <div class="field">
      <label for="username">USERNAME: </label>
      <input type="username" name="username" id="username" class="input" required>
    </div>
    <div class="field">
      <label for="email">EMAIL: </label>
      <input type="email" name="email" id="email" class="input" required>
    </div>
    <div class="field">
      <label for="phoneNumber">TELEFONE: </label>
      <input type="text" name="phoneNumber" id="phoneNumber" class="input" required>
    </div>
    <div class="field">
      <label for="password">SENHA: </label>
      <input type="password" name="password" id="password" class="input" required>
    </div>
    <input type="submit" value="REGISTRAR-SE" class="button">
  </form>

  <div class="access-option">
    <div>Já possui conta?</div>
    <a href="/login">Entrar</a>
  </div>
</main>