@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #1d2358;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login>h1 {
  font-size: 3vw;
  color: rgba(2, 255, 221, 0.973);

}

.left-login img {
  width: 33vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: rgb(28, 7, 87);
  border-radius: 23px;
  box-shadow: 0px 13px 43px #010208;
}

.card-login>h1 {
  color: aquamarine;
  font-weight: 813;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 11px 0px;
}

.textfield>input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #1d2358;
  color: aliceblue;
  font-size: 13pt;
  box-shadow: #010208;
  outline: none;
  box-sizing: border-box;

}

.textfield>label {
  color: aliceblue;
  margin-bottom: 13px;
}

.textfield>input::placeholder {
  color: aliceblue;
}

.btn-login {
  width: 100%;
  padding: 15px;
  margin: 23px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  color: aliceblue;
  background-color: rgb(6, 223, 150);
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #010208;

}

@media only screen and(max-width: 600px) {
  .main-login {
    flex-direction: column;
  }

  .left-login> {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login-img {
    width: 50vw;
  }

  .card-login {
    width: 90;
  }
}